.header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
}

.header a{
    text-decoration: none;
    color: white;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: white
}

.body-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px
}
.body-title {
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 28px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px
}

.product {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.resize-image {
    width: 250px;
    height: 175px;
}

.product-name {
    font-weight: bold;
    margin: 0;
    color: black;
    align-self: flex-start;
    margin-bottom: 5px;
}

.category {
    font-weight: normal;
    margin: 0;
    color: black;
    align-self: flex-start;
    margin-bottom: 5px;
}
.price {
    font-weight: normal;
    margin: 0;
    color: black;
    align-self: flex-end;
}
